Repository tenstorrent/tt-zephyr-platforms, pull requests merged in 2025-08, with the labels that each got.

#463 scripts: pre-push: update to align with CI checks
  scripts/pre-push.sh
Labels: trivial

#473 scripts: dmc_reset: fix Failed to reset DMC None error
  scripts/dmc_reset.py
Labels: scripts 📜, trivial

#497 doc: migration: 18.8: bump pyluwen to >= 0.7.11
  doc/release/migration-guide-18.8.md
Labels: Documentation 📄, release ✅

#498 tests: jtag_bootrom: be less verbose
  tests/lib/tenstorrent/jtag_bootrom/prj.conf
Labels: ci ♾️, tests 📝

#505 boards: tt_blackhole: ensure fixed partitions fall under flash node
  boards/tenstorrent/tt_blackhole/tt_blackhole_dmc.dtsi
  boards/tenstorrent/tt_blackhole/tt_blackhole_fixed_partitions.dtsi
  boards/tenstorrent/tt_blackhole/tt_blackhole_tt_blackhole_smc.dts
  dts/arc/tenstorrent/tt_blackhole_fixed_partitions.dtsi
  test-conf/tests/drivers/flash/common/tt_blackhole_tt_blackhole_smc.overlay
  tests/drivers/flash/performance/boards/tt_blackhole_tt_blackhole_smc.overlay
Labels: bug 🐞, boards 🪵, devicetree 🌳
