Repository tenstorrent/tt-zephyr-platforms, pull requests merged in 2025-09, with the labels that each got.

#570 drivers: sensor: tenstorrent: pvt: tt_bh: namespace helper functions
  drivers/sensor/tenstorrent/pvt_tt_bh_decoder.c
  include/zephyr/drivers/sensor/tenstorrent/pvt_tt_bh.h
  lib/tenstorrent/bh_arc/pvt.c
  tests/boards/tenstorrent/tt_blackhole/sensor/pvt/src/main.c
Labels: drivers 🚗

#565 zephyr: patches: drop twister rtt patch, since we now have pty scripts
  zephyr/patches.yml
  zephyr/patches/zephyr/twister-rtt-support.patch
Labels: zephyr 🪁, patches 🩹, tech debt 📈

#572 ci: release: ensure build artifacts for all board revisions are in zip
  .github/workflows/release.yml
Labels: ci ♾️, release ✅, regression 👎

#576 scripts: tt_boot_fs: ls: add hexdump functionality when verbose >= 2
  scripts/tt_boot_fs.py
Labels: tt-boot-fs 🥾, python 🐍, scripts 📜

#614 doc: restructure based on upstream template
  .gitignore
  boards/index.rst
  doc/develop/getting_started/index.rst
  doc/develop/index.rst
  doc/index.rst
  doc/services/index.rst
  doc/services/tracing/index.rst
  doc/services/tracing/tracing.gif
Labels: Documentation 📄

#612 doc: derive documentation version from bundle / release version
  .github/workflows/docs.yml
  doc/conf.py
  scripts/get_ttzp_version.py
Labels: Documentation 📄

#654 app: smc: pytest: modify verbosity and use failure rate
  app/smc/pytest/e2e_smoke.py
  app/smc/pytest/e2e_stress.py
Labels: ci ♾️, tests 📝, python 🐍

#653 zephyr: patches: drop stm32-block-read.patch since it is upstream
  west.yml
  zephyr/patches.yml
  zephyr/patches/zephyr/smbus-cancel.patch
  zephyr/patches/zephyr/smbus_stm32-pec.patch
  zephyr/patches/zephyr/stm32-block-read.patch
  zephyr/patches/zephyr/stm32-bwbr.patch
Labels: zephyr 🪁, patches 🩹
